<script>
$(function () {
        $('#stories-by-team-member').highcharts({
            chart: {
                type: 'column'
            },
            credits: {
                enabled: false
            },
            colors: ['#e51937', '#74c365', '#002d62'],
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                {% for list, people in person_list_count.items|slice:":1" %}
                    {% for person, stories in people.items %}
                        {% if forloop.last %}
                        '{{ person }}'
                        
                        {% else %}
                        '{{ person }}',
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Stories'
                },
            },
            legend: {
                align: 'right',
                x: -70,
                verticalAlign: 'top',
                y: 40,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColorSolid) || 'white',
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal',
                }
            },
            series: [
                {% for list, people in person_list_count.items %}
                    {
                        name: '{{ list }}',
                        data: [
                        {% for person, stories in people.items %}
                            {% if forloop.last %}
                                {{ stories }}
                            {% else %}
                                {{ stories }},
                            {% endif %}
                        {% endfor %}
                        ]
                    },
                {% endfor %}

             ]
        });
    });
</script>