{% extends 'base.html' %}

{% block navbar %}
	<li><a href="{% url 'home' %}">Home</a></li>	
	<li><a href="/about/">About</a></li>	  
	<li><a href="/pricing/">Pricing</a></li>
	<li><a href="/login/">Login</a></li>
	<li><a href="/register/">Register</a></li>
{% endblock navbar %}

{% block content %}
<h2>Select the boards you want us to help you follow</h2>
<div class="row">
	<div class="col-lg-6">
		{% for board in boards %}
			<div class="checkbox">
				<label>
					<input type="checkbox" value="">
					{{ board.name }}
				</label>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
