{% extends 'base.html' %}

{% block navbar %}
	<li><a href="{% url 'home' %}">Home</a></li>	
	<li><a href="/about/">About</a></li>	  
	<li><a href="/pricing/">Pricing</a></li>
	<li class="active"><a href="/login/">Login</a></li>
	<li><a href="/register/">Register</a></li>
{% endblock navbar %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <form action="#" class="form-login"> 
            <div class="row">
            	<div class="col-lg-4">
                    <p><a class='zocial github' id='github-sign-in-btn'>Sign in with GitHub</a></p>
            	</div>
            	<div class="col-lg-4">
                    <p><a class='zocial google' id='google-sign-in-btn'> Sign in with Google</a></p>
            	</div>
                
                
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p><a class='zocial guest' id='trello-sign-in-btn'> Sign in with Trello</a></p>
                </div>
                <div class="col-lg-4">
                    <p><a class='zocial facebook' id='facebook-sign-in-btn'> Sign in with Facebook</a></p>
                </div>
            </div>

        </form>
    </div>   
</div>  
<script src="{{STATIC_URL}}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
        $('#github-sign-in-btn').click(function(e) {
            e.preventDefault();
            window.open("{% url 'social:begin' 'github' %}", "_self");
        });
</script>
<script type="text/javascript">
        $('#google-sign-in-btn').click(function(e) {
            e.preventDefault();
            window.open("{% url 'social:begin' 'google-oauth2' %}", "_self");
        });
</script>
<script type="text/javascript">
        $('#facebook-sign-in-btn').click(function(e) {
            e.preventDefault();
            window.open("{% url 'social:begin' 'facebook' %}", "_self");
        });
</script>
<script type="text/javascript">
        $('#trello-sign-in-btn').click(function(e) {
            e.preventDefault();
            window.open("{% url 'social:begin' 'trello' %}", "_self");
        });
</script>
{% endblock content %}